*{
   box-sizing: border-box;
}

body{
   background-color:#0095dd;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
   min-height: 100vh;
   margin: 0;
}
.btn{
   cursor: pointer;
   background-color: #000;
   color: #fff;
   border: 0;
   padding: 10px 20px;
   border-radius: 5px;   
}
h1{
   font-size: 40px;
   color: white;
}
canvas{
   background-color: #f0f0f0;
   display: block;
   border-radius: 5px;;
}

.btn:focus{
   outline: 0px;
}
.btn:hover{
   background: #222;
}
.btn:active{
   transform: scale(0.98);
}
.rules-btn{
   position: absolute;
   top: 30px;
   left: 30px;
}
.rules{
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: #333;
   color: #fff;
   min-height: 100vh;
   width: 350px;
   padding: 20px;
   line-height: 1.5;
   transform: translateX(-350px);
   transition: transform 1s ease-in-out;
}
.rules.show{
   transform: translateX(0);
}